:root {
    --topPadding: 50px;
}

body {
    background-color: rgb(227, 248, 248);
}
header {
    width: 100%;
    border-bottom: 5px solid rgb(241, 202, 72);
    border-radius: 0% 0% 90% 90%/ 0% 0% 90% 90%;
    background-image: linear-gradient(
        rgb(238, 192, 40) 0%,
        rgb(236, 216, 147) 100%
      );
    padding-top: 40px;
}

main {
    width: 100%;
    padding-top: 20px;
}

aside ul > li {
    text-indent: 40px;
}

/* Main Content Box*/
#mainContent {
    padding-top: var(--topPadding)
}

/* Current Weather - Box */
#weatherCurrent {
    border: 5px solid black;
    margin-top:20px;
    border-radius: 20px;
    background-color: aliceblue;
}

#currentWeatherHeader {
    padding-top:20px;
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}

#currentCityHeader {
    text-align: right;
}

#currentCityMain {
    justify-content: space-around;
    width:100%;
}

#currentCityMain div{
    padding:20px;
    text-align: center;
}

#currentCitySub {
    width:100%;
    justify-content: space-around;
    padding:5px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Current Weather - Box */
#weatherFuture {
    border: 5px solid black;
    border-radius: 20px;
    background-color: aliceblue;
    margin-top: 40px;
}

#futureWeatherHeader {
    padding-top:20px;
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}

/* Search Box */
#searchBox {
    background-color: rgba(69, 150, 187, 0.3);
    padding-top: var(--topPadding);
    border-radius: 20px;
}
#searchHeader {
    border-bottom:2px solid black;
}

/* Search Box - button */
#searchHeader button {
    background-color: transparent;
    border-radius: 10%;
    border-style: solid;
    border-color: rgb(243, 243, 243);
    outline: none;
    transition: 0.2s;
}

#searchHeader button:hover {
    transform: rotate(90deg);
    transition: .4s;
    border-color: transparent;
    border-radius: 80%;
}

#searchHeader button:active {
    transition: .1s;
    border-color: transparent;
    box-shadow: 0px 0px 10px red;
}

/* Search Box - List */
#listHistory {
    list-style-type: none;
    font-size: 130%;
    padding-left: 0;
    line-height: 1.8;
}

/* UV output */
.uv-low {
    color: rgb(63, 209, 63)
}

.uv-mod {
    color: rgb(216, 154, 38);
}

.uv-high {
    color: rgb(202, 9, 9);
}
